.otpWrapper {
  display: flex;
}

.otpInputWrapper {
  height: 48px;
  max-width: 40px;
  min-width: 40px;
  margin-right: 8px;
}

.otpInput {
  width: 100%;
  height: inherit;

  border: 1px solid;
  border-radius: 10%;
  border-color: #cdcdcd;
  outline: none;

  font-size: 2rem;
  text-align: center;
  color: #4a4a4a;
  padding: 0 1px;
}

.otpInput:focus {
  border-color: #20c4f4;
}

.otpInput:disabled {
  background-color: #eee;
  cursor: not-allowed;
}

.error > .otpInput, .error > .otpInput:focus {
  border-color: #d0021b;
}

.errorMessage {
  margin: 8px 0 0 0;
  color: #d0021b;
  font-size: 0.8rem;
}
